<div *ngIf='!splash' class='ion-page' id="main">
    <ion-header class="header-home">
        <ion-toolbar color='elemento'>
            <ion-title>
                {{usuario.email}}
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" color='fondo'>
        <div id="container">
            <div class="responsive">
                <div align="center">
                    <p *ngFor='let value of ArrayValores'>x: {{value[0]}} -- y: {{value[1]}} -- z: {{value[2]}}</p>
                </div>
                <div><img class="imagen" src="../../../assets/ladron.png" alt=""></div>
                <label>
                    <input type="checkbox" [(ngModel)]="activo" (change)="cambioEstado()">
                    <div>
                    </div>
                </label>
                <div style="background-color: cornsilk;">
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer>
        <ion-toolbar color='elemento'>
            <ion-button color='danger' expand='block' (click)='cerrarSesion()'>Cerrar Sesión</ion-button>
        </ion-toolbar>
    </ion-footer>
</div>
 <img *ngIf='splash' class='spinnerA' src="../../assets/logoMov.png">